@import url('https://fonts.googleapis.com/css?family=PT+Serif&display=swap');
/* Body style */
html,body{
 
  min-width : 1224px;
  background-color:grey;

}
/* Nav bar*/
header{
  background: teal;
  width: 100%;
 display: flex;
}

/* NavBar clearfix */
header::after {
  content: '';
  display: table;
  clear: both;
}

/* Nav bar image */
.logo {
  float: left;
  width: 300px;
  height: 60px;
  
}
/* Navbar whole list */
nav{
  width: 100%;
 
}
/* Navbar text position style over header*/
nav ul {
  margin-right: 20px;
  list-style: none;
  font-weight: bold;
  float: right;
  position: static;
}

 /* Navbar text block style */
nav li{
  display: inline;
}
/* Navbar title hyperlinks */
nav ul a {
  color: white;
  text-decoration:none;
  text-transform:uppercase;
  font-size: 18px;
  font-weight:bold;
  position: static;
  padding:20px;
  font-family: "PT Serif", serif;

}
/* Navbar link hover */
nav a:hover {
  color: black;
  
}
/* Hero image position/style */
#hero-image {
  background-image: url("https://d36tnp772eyphs.cloudfront.net/blogs/1/2017/04/Meredith-Richardson-GCI_TurquoiseWaters_SevenMileBeach-940x627.jpg");
  background-repeat: no-repeat;
  padding-top:400px;
  padding-bottom: 400px;
  margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
  background-size: cover;
  background-position: center;
  width: 100%;
}
/* text in the middle of the image */
.hero-header {
  text-align: center;
 margin-top:-300px;
  margin-bottom:100px;
  margin-left:0px;
  
  width:100%;
  color: white;
  font-size: 50px;
  font-family: "PT Serif", serif;
}

.container2 {
  width:50%;
  margin-left: 350px;
  color: white;
font-weight: bold;
}
/* Input box */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 10px; /* Some padding */ 
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 5px; /* Add a top margin */
  margin-bottom: 15px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  font-family: "PT Serif", serif;
}

/* Submit button */
input[type=submit] {
  background-color: white;
  color: teal;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 330px;
  
}


/*Footer Div container*/

.footer{
  width: 100%;
  display:grid;
  background-color: teal;
 grid-template-columns:  1fr 1fr 1fr 1fr;
 grid-template-rows: 140px;
 grid-template-areas:
 ". social social ."
 ;
}


.social {
  display:grid;
  grid-area: social;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30px 50px;
  grid-template-areas: 
  "fb ig tw"
  "copyright copyright copyright ";
}

.facebook {
  margin-top: 10px;
  display: grid;
  grid-area: fb;
  justify-content: center;
}

.twitter {
  margin-top: 10px;
  display: grid;
  grid-area: tw;
  justify-content: center;
}

.instagram {
  margin-top: 10px;
  display: grid;
  grid-area: ig;
  justify-content: center;
}

/*copyright style*/
.copyright{
  text-align: center;
  color: white;
  display: grid;
  grid-area: copyright;
    
}

@media only screen and (max-width:800){

  html,body{
    background-color:grey;
    width: 100%;
    width: 800px;
  }

}